* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background: rgb(5, 5, 24);
    padding: 1%;
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

header nav .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

header nav .menu .logo img {
    margin: -50%;
    width: 40px;
    display: block;
}

header nav .menu .links {
    display: flex
}

header nav .menu .links a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 15px 50px;

}

header nav .menu .links a:hover {
    font-weight: bold;
    color: black;
    background-color: rgb(255, 240, 240);
    transition: all 0.4s ease-in-out;
    transform: scale(1.05, 1.05);
}

main {
    width: 90%;
    margin: 40px auto;
    padding: 10px;
    text-align: center;
}

footer {
    color: gray;
    margin-top: auto;
    background: black;
    text-align: center;
  }

.red-social a {
    display: inline-block;
    margin: 10px 20px 5px 20px;
}

.instrumentos a {
    display: inline-block;
    margin: 20px;
}

